# Node modules
node_modules/

# AWS SAM 
.aws-sam/

# Webpack output
backEndBundle/
frontEnd/clientBuild/
frontEndBundle/

#pytest
*.pyc
*__pycache__/

#playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/