### Node ###

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# AWS SAM 
.aws-sam/

# Webpack output
code/clientBuild/
code/dist/
code/serverBundle.js

#Cypress
code/cypress/screenshots
code/cypress/videos