.Card {
    box-shadow: $box-shadow;
    border-radius: 4px;
    text-decoration: none;
    color: $neutral-dark-color;
    
    display: flex;
    flex-direction: column;

    &__image {
        object-fit: cover;
        height: 30rem;
    }
    
    &__text {
        margin: 1.5rem 1.5rem 1.5rem 1.5rem;
    }
}