@import 'Variables';

.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9rem;

    &__link {
        text-decoration: none;
    }
    
    &__name {
        color: $neutral-dark-color;
        line-height: 100%;
        letter-spacing: .5rem;
    }
}
    
