.Description{
    background-image: url("https://s3-us-west-1.amazonaws.com/quietavenue.com/images/header_image.jpeg");
    background-size: cover;
    background-position: 50% 75%;
    height: 36rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}