.Suggest {
    
    &__form {
        display: flex;
        justify-content: center;
        margin-bottom: 6rem;
        
        width: 60rem;
        @media only screen and (max-width: 44em) {
            &--small{
                width: 30rem;
            }
        }
    }
    
    &__input {
        font-size: 1.7rem;
        flex-grow: 1;
        border: none;
    }
        
    &__image {
        background-color: $neutral-light-color;
        height: 3rem;
        padding: .6rem;
    }
    
    &__list {
        position: absolute;
    }
    
    &__city {
        background-color: $neutral-light-color;
    }
    
    &__property {
        background-color: $neutral-light-color;
    }
}