@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #292524;
  border-radius: 99px;
  background: #16a34a;
  cursor: pointer;
}


input::-moz-range-thumb {
  height: 16px;
  width: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #292524;
  border-radius: 99px;
  background: #16a34a;
  cursor: pointer;
}